<footer class="footer">
  <div class="container">
    <div class="footer-flex-container">
      <!-- About Us -->
      <div class="footer-flex-item">
        <h3>About Us</h3>
        <p>3-Bits is a development studio dedicated to bringing users sophisticated and highly useful webapplications. Join our community today!</p>
      </div>

      <!-- Quick Links -->
      <div class="footer-flex-item">
        <h3>Quick Links</h3>
        <ul class="footer-links">
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="https://github.com/OmidLatifi123/LatifiWorkoutTracker">GitHub</a></li>
        </ul>
      </div>

      <!-- Contact Us -->
      <div class="footer-flex-item">
        <h3>Contact Us</h3>
        <p>Email: info@3-bits.com</p>
        <p>Phone: +1 (123) 456-7890</p>
      </div>
    </div>

    <!-- Bottom Section -->
    <div class="footer-bottom">
      <p>&copy; 2024 3-Bits. All rights reserved.</p>
      <a href="https://github.com/OmidLatifi123/LatifiWorkoutTracker" target="_blank" class="github-link"><i class="fab fa-github"></i></a>
    </div>
  </div>
</footer>
