{{!-- Omid Latifi, Carlos DaSilva, Christian Schoenwiese, Tristan Schwekendiek
1199455, 1191123, 1186384 , 1207799  --}}

{{!-- SOURCE: https://getbootstrap.com/docs/5.3/components/navbar/ --}}

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img class="navImage" src="/Assets/images/Logo.webp"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-auto">
          <a class="nav-link nav-link1" aria-current="page" href="/about">About Us</a>
        </li>




       
        <li class="nav-item me-auto">
          <a class="nav-link nav-link2" aria-current="page" href="/exercises/push">Push</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link nav-link3" aria-current="page" href="/exercises/pull">Pull</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link nav-link3" aria-current="page" href="/exercises/legs">Legs</a>
        </li>
        {{#if user}}
                            <li class="nav-item me-auto">
                        <a class="nav-link nav-link1" aria-current="page" href="#"></i> {{user.username}}</a>
                    </li>
                     <li class="nav-item me-auto">
                        <a class="nav-link nav-link1" aria-current="page" href="/auth/logout"><i class="fa-regular fa-id-badge"></i> Logout</a>
                    </li>
                {{else}}
                   <li class="nav-item me-auto">
          <a class="nav-link nav-link1" aria-current="page" href="/auth/login">Login</a>
        </li>
                {{/if}}  
        </ul>
        <ul class="navbar-nav mb-2 ms-auto mb-lg-0">
        </ul>
        </div>
    </div>
</nav>

  <!-- Script Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="Scripts/app.js"></script>

    
