<link rel="stylesheet" href="/Content/about.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <section class="homeBanner">
<div>
    <h3 class="homeH3">Get to know the team...</h3>
    <h1 class="homeH1">ABOUT US</h1>
</div>
</section>

  <h2 class="about-h2">From The Man Himself</h2>
            <div class="about-mission-container">
                <img class="about-img"src="Assets/images/Omid-Victory.png" alt="Omid Latifi">
            <p class="about-p">Brought to you by Ontario's very own Jiu-Jitsu Champion, Omid Latifi. He now aims to bring his tools to you. Tracking workout routines helped Omid become a next level athlete, imagine what it can do for you.</p>
            </div>
            <h2 class="about-h2">Our Mission</h2>
            <div class="about-mission-container">
            <p class="about-p">Our mission is to provide you with the tools and support you need to reach your fitness goals, whatever they may be. Whether you're aiming to lose weight, build muscle, improve endurance, or simply stay active, our platform is here to support you on your journey. We believe that everyone deserves access to quality fitness tracking tools, and we're committed to making that a reality for our users.</p>
            <img class="about-img"src="Assets/images/Trainer.webp" alt="Trainer Photo">
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="visual" viewBox="0 0 1920 540" width="1920" height="540" version="1.1"><path d="M0 237L274 204L549 260L823 278L1097 195L1371 294L1646 279L1920 186L1920 541L1646 541L1371 541L1097 541L823 541L549 541L274 541L0 541Z" fill="#ff001e"/><path d="M0 280L274 320L549 360L823 270L1097 292L1371 301L1646 328L1920 378L1920 541L1646 541L1371 541L1097 541L823 541L549 541L274 541L0 541Z" fill="#cd0114"/><path d="M0 413L274 378L549 403L823 409L1097 432L1371 363L1646 420L1920 376L1920 541L1646 541L1371 541L1097 541L823 541L549 541L274 541L0 541Z" fill="#9d010c"/><path d="M0 487L274 494L549 471L823 425L1097 474L1371 449L1646 432L1920 455L1920 541L1646 541L1371 541L1097 541L823 541L549 541L274 541L0 541Z" fill="#700000"/></svg>
            <div class="about-red">
                <h2 class="about-h2 about-h2-2">Meet The Team</h2>
 <div class="team-members">
              <div class="about-card-container">
                 <div class="card">
        <div class="card-info">
        <div class="card-avatar"><img class="card-avatar"src="/Assets/images/HeadshotOmid.JPG"></div>
        <div class="card-title">Omid Latifi</div>
        <div class="card-subtitle">Project Lead</div>
        </div>
        <ul class="card-social">
    <li class="card-social__item">
     <span><a href="https://ca.linkedin.com/in/omid-latifi-2bb380215" target="_blank"><i class="fab fa-linkedin-in"></i></a></span>
    </li>
  </ul>
</div>

 <div class="card">
        <div class="card-info">
        <div class="card-avatar"><img class="card-avatar"src="/Assets/images/HeadshotTristan.JPG"></div>
        <div class="card-title">Tristan Schwekendiek</div>
        <div class="card-subtitle">Front End Lead</div>
        </div>
        <ul class="card-social card-social2">
    <li class="card-social__item">
      <span><a href="https://ca.linkedin.com/in/tristan-schwekendiek-bab1171b6" target="_blank"><i class="fab fa-linkedin-in"></i></a></span>
    </li>
  </ul>
</div>

<div class="card">
        <div class="card-info">
        <div class="card-avatar"><img class="card-avatar"src="/Assets/images/HeadshotChristian.JPG"></div>
        <div class="card-title">Christian Schoenwiese</div>
        <div class="card-subtitle">Back End Lead</div>
        </div>
        <ul class="card-social card-social2">
    <li class="card-social__item">
        <span><a href="https://www.linkedin.com/in/christian-schoenwiese-63b330293/" target="_blank"><i class="fab fa-linkedin-in"></i></a></span>
    </li>
  </ul>
</div>

 <div class="card">
        <div class="card-info">
        <div class="card-avatar"><img class="card-avatar"src="/Assets/images/carlos.webp"></div>
        <div class="card-title">Carlos Dasilva</div>
        <div class="card-subtitle">Full Stack Programmer</div>
        </div>
</div>
              </div>        
            </div>
            </div>
            <svg class="upside-down spikes-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="visual" viewBox="0 0 1920 540" width="1920" height="540" version="1.1"><path d="M0 237L274 204L549 260L823 278L1097 195L1371 294L1646 279L1920 186L1920 541L1646 541L1371 541L1097 541L823 541L549 541L274 541L0 541Z" fill="#ff001e"/><path d="M0 280L274 320L549 360L823 270L1097 292L1371 301L1646 328L1920 378L1920 541L1646 541L1371 541L1097 541L823 541L549 541L274 541L0 541Z" fill="#cd0114"/><path d="M0 413L274 378L549 403L823 409L1097 432L1371 363L1646 420L1920 376L1920 541L1646 541L1371 541L1097 541L823 541L549 541L274 541L0 541Z" fill="#9d010c"/><path d="M0 487L274 494L549 471L823 425L1097 474L1371 449L1646 432L1920 455L1920 541L1646 541L1371 541L1097 541L823 541L549 541L274 541L0 541Z" fill="#700000"/></svg>

            <h2 class="about-h2 ">Track your Journey Today</h2>
            <div class="team-members">
              <div class="about-card-container">
                    <div class="about-card">   
                        <div>
                        <img class="newAbout-img" src="/Assets/images/running.png" alt="running shoe">
                         <div clas="textBox">
                            <p class="text head">Stride</p>
                        </div>
                    </div>
                </div>
                </div>
                 <div class="about-card-container">
                    <div class="about-card">   
                        <div>
                        <img class="newAbout-img" src="/Assets/images/glove.png" alt="boxing gloves">
                        <div clas="textBox">
                            <p class="text head">Train</p>
                        </div>
                    </div>
                </div>
                </div>
                 <div class="about-card-container">
                    <div class="about-card">   
                        <div class="">
                        <img class="newAbout-img" src="/Assets/images/dumbbell.png" alt="dumbell">
                         <div clas="textBox">
                            <p class="text head">Grow</p>
                        </div>
                    </div>
                </div>
                </div>
               
            </div>
            