/* Custom CSS Goes Here */
html{
    overflow-x: hidden;
}

body{
    background-color: #1e1e1e;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.homeBanner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    padding-top: 1%;
}


.text-p{
    color: #f1f1f1;
}

.homeH1{
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #f1f1f1;
}

.homeH2{
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #f1f1f1;
    text-align: center;
}

.homeH3{
    font-family: "Kanit", sans-serif;
    font-style: italic;
    font-weight: lighter;
    color: #f1f1f1;
}

.bgVideo{
    width: 2560px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
}

.homeCards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    background-color: rgba(0,0,0,0.5);
    margin-top: 10%;
    margin-bottom: 10%;
}

.cardRow{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.homeVideo{
    filter: blur(7px) brightness(0.5);
    width: 100%;
    transform: scale(1.1);
    z-index: -1;
}

.card {
    width: 300px;
    height: 380px;
    border-radius: 20px;
    background: #1e1e1e;
    position: relative;
    border: 4px solid #1e1e1e;
    transition: 0.5s ease-in-out;
    overflow: visible;
    color: #f1f1f1;
    margin-top: 10%;
    margin-bottom: 10%;
   }
   
   .card-details {
    padding: 5%;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #700000;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }

   
   /*Text*/
   .text-title {
    font-size: 3em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border: 4px solid #700000;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

   .weightIcon{
    filter: invert(1);
   }

   .homeAbout{
    background-color: #700000;
    display: flex;
    padding-right: 15%;
    padding-left: 8%;
    align-items: center;
    gap: 20px;
   }


   .homeH4{
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #f1f1f1;
   }

   .homeP{
    color: #f1f1f1;
   }

   .spikes-svg{
    transform: scaleX(1.5);
   }

   .upside-down{
    transform: scaleX(1.5) scaleY(-1);
   }

   /* EXERCISE CSS */
   .exH1{
        font-family: "Kanit", sans-serif;
        font-weight: bold;
        font-size: 80px;
        color: #f1f1f1;
        text-align: center;
        margin: 1%;
    }

    .exH6{
        font-family: "Kanit", sans-serif;
        font-weight: bold;
        font-size: 40px;
        color: #f1f1f1;
        text-align: center;
        margin: 1%;
    }

    .card-body{
        background-color: #333;
        height: 300px;
    }


    .exCard{
        border-radius: 20px;
        background: #1e1e1e;
        position: relative;
        border: 4px solid #1e1e1e;
        transition: 0.2s ease-in-out;
        overflow: hidden;
        color: #f1f1f1;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .col-lg-2{
       background-color: #333;
       border-radius: 0px;
    }
    

    .exCard:hover{
        transform: scale(1.1);
    }

    .btn{
        background-color: #700000; 
        border: none;
    }

    .createbtn{
        background-color: #700000; 
        border: none;
        color: #f1f1f1;
        font-family: "Kanit", sans-serif;
        font-weight: bold;
        font-size: 30px;
        transition: ease-in-out .2s;
    }

    .createbtn:hover{
      background-color: #900000; 
    }

    .btnContainer{
        display: flex;
        justify-content: center;
        margin: 2%;
        
    }

    .container{
        margin-bottom: 3%;
    }

    .card-rows{
        gap: 20px;
    }

    .exImg{
      width: 10%;
    }

    .centerDiv{
      display: flex;
      justify-content: center;
      align-items: center;
    }

   /* NAVBAR CSS */
   nav{
    background-color: #700000;
   }
   .navImage{
    height: 64px;
    width: 64px;
   }

   .nav-link{
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #f1f1f1;
   }

   .navbar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    z-index: 20;
}

   /* FOOTER CSS */

   .footer {
    background-color: #111;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    max-width: 100%;
    filter: invert(0%);
    bottom: 0;
  }
  
  .footer-col {
    margin-bottom: 30px;
  }
  
  .footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .footer p {
    color: #ccc;
  }
  
  .social-links li {
    display: inline-block;
    margin-right: 21px;
  }
  
  .social-links a {
    color: #fff;
    font-size: 20px;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #ccc;
  }
  
  .footer-bottom {
    border-top: 1px solid #333;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .github-link {
    color: #fff;
    font-size: 24px;
  }
  
  .footer-flex-container {
    display: flex;
    justify-content: center; /* Center flex items horizontally */
    
  }
  
  .footer-flex-item {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each flex item */
  }
  
  
  
  .footer-flex-item:not(:last-child) {
    margin-right: 7%; /* Adjust spacing between flex items */
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px; /* Adjust spacing from the sections */
  }
  
  .footer-links li {
    display: block; /* Changed to block to stack items vertically */
    margin-right: 0; /* Adjusted as items are no longer inline */
    list-style-type: none; /* Removes bullet points */
    margin-bottom: 10px; /* Ensure spacing between items */
    padding-right: 30px;
  }
  
  /* CREATE CSS */

  .create-container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #333;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .create-section{
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .form-container > input, textarea{
    color: #f1f1f1;
    background-color: #111;
    border: none;
    font-size: 20px;
    resize: none;
    padding: 3px;
  }
  .form-container > button{
    width: 25%;
    justify-self: center;
  }

  .form-container > button{
    width: 25%;
    align-self: center;
    color: #f1f1f1;
    background-color: #700000;
    border: none;
    font-size: 30px; 
    font-family: "Kanit", sans-serif;
  }



  textarea:focus, input:focus{
    outline: none;
}