 <h1 class="create-post">Create LEGS</h1>
          
          <form method="post"> 
            <input ctype="text" id="title" placeholder="title" name="title" required>
            <textarea id="description" name="description" rows="6"></textarea>
            <input ctype="number" id="reps" placeholder="reps" name="reps" required>


                    <button class="create-button" type="submit">Post</button>
</form>