<section class="create-section">
 <h1 class="exH1">Create Pull</h1>
          <div class="create-container">
            <form class="form-container" method="post"> 
            <input ctype="text" id="title" placeholder="title" name="title" required>
            <textarea id="description" name="description" rows="6"></textarea>
            <input type="number" id="reps" placeholder="reps" name="reps" min="1" required>
            <button class="create-button" type="submit">Create</button>
            </form>
          </div>
</section>