<h1> Push Page </h1>

<a href="/exercises/createPush"> Create Push</a>


<ul class="card-body center">
    {{#each push}}
 <li class="card m-4 text-center col-lg-4">
            <p>{{this.reps}}</p>       
            <h6>{{this.title}}</h6>
            <p>{{{this.description}}}</p>
   
    </li> 
    {{/each}}
</ul>